<h1>Adicionar Novo Hábito</h1>
<form action="/habitos/create" method="POST">
  <label for="nome">Nome:</label>
  <input type="text" name="nome" id="nome" required><br><br>

  <label for="descricao">Frequencia</label>
  <input type="text" name="descricao" id="descricao" required><br><br>

  <button type="submit">Adicionar Hábito</button>
</form>
